{% if page.sidebar %}
  {% for s in page.sidebar %}
    {% if s.image %}
      <img src="{{ s.image | relative_url }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
    {% endif %}

    {% if s.title %}
      <h3>{{ s.title }}</h3>
    {% endif %}

    {% if s.text %}
      {{ s.text | markdownify }}
    {% endif %}

    {% if s.nav %}
      {%- assign nav_key = s.nav -%}
      {% include_relative nav_list_or_custom.liquid nav_key=nav_key %}
    {% endif %}
  {% endfor %}

  {%- if page.sidebar.nav %}
    {%- assign nav_key = page.sidebar.nav -%}
    {% include_relative nav_list_or_custom.liquid nav_key=nav_key %}
  {% endif %}
{% endif %}
